// bower:scss
// endbower

/* 
    Created on : 23.05.2014, 13:34:21
    Author     : igodorogea
*/

@import "compass";
@import "mixins";


.no-touch {
	.intro-block.active .active {
		nav {
			a, a .txt {
				@include transition(color ease-in-out .1s);
			}
		}

		.phone-calculator a .overlay {
			@include animation(blink_calc 2s ease-in-out infinite 2s);
			//-webkit-animation-play-state: running;
			@include transition(opacity ease-in-out .2s);
		}
		.phone-calculator a:hover .overlay {
			@include animation(none);
			-webkit-animation-play-state: paused;
			opacity: 0;
		}
	}

	.intro-block .skiplinks-nav.fixed {
		li {
			@include transition(color .2s ease-in-out 0.1s);

			a {
				@include transition(left .2s ease-in-out 0.1s);
			}
		}
	}

	.skill-list li .skill {
		.ico {
			@include opacity(1);
			@include transition(opacity 0.2s ease-in-out 0.1s, margin-top 0.2s ease-in-out 0.1s);
		}

		.d {
			display: block;
			@include opacity(0);
			@include transition(opacity 0.2s ease-in-out 0.1s);
		}

		&:hover {
			.ico {
				@include opacity(0);
				margin-top: -92px;
			}

			.d {
				@include opacity(1);
			}
		}
	}

	.flow-list li {
		.d {
			@include transition(opacity .3s ease-in-out 0.1s, bottom .3s ease-in-out 0.1s);
		}
	}

	.top-menu {
		//@include transition(background-color .3s ease-in-out 0s);
	}
	.top-menu .navbar {
		//@include transition(min-height .3s ease-in-out 0s);
	}
	.top-menu .navbar ul li > a {
		//@include transition(font-size .3s ease-in-out 0s, padding .3s ease-in-out 0s);
	}

	.work_with-block .partners li a > div {
		//@include transition(opacity 0.2s ease-in-out 0s);
		
		&.hover {
			@include transition(opacity 0.15s ease-in-out 0s);
		}
	}
}



@include keyframes(blink_calc) {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}