/* 
    Created on : 19.06.2014, 12:47:40
    Author     : igodorogea
*/

body, html {
	height:100%;
}

body {
	background-color: $llGray;
	overflow-y:auto;
	
	#footer {
		margin-top: -$footerHeight;
		height: $footerHeight;
	}
}
.my-main-body {
	min-height:100%;
}

* html .my-main-body {
	height:100%;
}

.my-rasporka {
	height: $footerHeight;
}

ol, ul {
	margin: 0;
}

a:hover {
	text-decoration: underline;
}

.field {
	font-size: 14px;
	font-size: 100%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.fa {
    @include inline-block;
	vertical-align: baseline;
	margin: 0 5px;
    min-width: 20px;
    position: static;
    text-align: center;
}

i.left-icon {
	margin-left: 0;
}
i.right-icon {
	margin-right: 0;
}

.tvalign {
	display: table;
    width: 100%;
	height: 100%;
	
	.tcvalign {
		display: table-cell;
		vertical-align: middle;
		height: inherit;
	}
}

.btn > a,
.skiplink > a {
	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}

.navbar {
	background: none;
	
	ul li > a {
		color: black;
		text-shadow: none;
		padding: 0 20px;
	}
}

.btn.orange {
	background-color: $dorange;
    border-bottom: 4px solid $ddorange;
    border-radius: 3px;
	font-size: 100%;
    font-weight: 600;
    text-transform: uppercase;
	height: 52px;
    line-height: 54px !important;
	font-size: 100% !important;
	
	
	> a, input, button {
		background-color: $orange;
		border-radius: 5px;
	
		&:hover {
			background-color: $orange;
			@include gradient-vertical($dorange, $orange);
		}

		&:active {
			background-color: $dorange;
			@include gradient-vertical($orange, $dorange);
		}
	}
}

.btn.bxwide a,
.skiplink.bxwide a {
	padding: 0 3em;
}

.vvalign > div,
.vvalign > article,
.vvalign > section,
.vvalign > figure {
    display: table-cell;
    vertical-align: middle;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

.gm-style {
	img {
		max-width: none;
	}
	
	.info-window {
		width: 220px;
		margin-bottom: 0;
	}
}

small {
	font-size: 14px;
}

h2 {
	margin: 1em 0;
}

#footer {
	background-color: $dGray;
	color: white;

	a {
		color: white;
	}

	li {
		display: block;
		margin: 0;
		padding: 0;
		line-height: 42px;

		&.copyright {
			width: 40%;
		}

		&.nav {
			width: 60%;

			a {
				margin-left: 1em;
				position: relative;

				&:before {
					content: "/";
					left: -12px;
					position: absolute;
					top: -8px;
				}

				&:first-child {
					margin-left: 0;

					&:before {
						content: "";
					}
				}
			}


		}

		&.socbtns {
			width: 20%;

			a {
				font-size: 42px;
				@include inline-block;
			}
		}
	}
}

.fullscreenbanner-container .tp-bullets {
	@include transition(none);

	&.hidebullets {
		@include opacity(1);
	}

	.bullet {
		@include inline-block;
		background-color: $dGray;
		border: 2px solid white;
		border-radius: 7px;
		height: 14px;
		margin-left: 0.5em;
		padding: 0;
		width: 14px;

		&:hover {
			border: 3px solid white;
		}

		&.selected {
			background-color: $orange;
		}
	}
}

@media only screen and (max-width: 930px) {
	body #footer{
		height: auto !important;

		li {
			float: none;
			text-align: left;
			width: auto !important;
		}
	}
}

@media only screen and (max-width: 400px) {
	body #footer{
		li.nav a {
			display: block;
			line-height: 1.625;
			margin-left: 0;
			
			&:before {
				content: "";
			}
		}
	}
}
