/* 
    Created on : 19.06.2014, 12:48:20
    Author     : igodorogea
*/

body.home {
	h2 {
		margin: 0;
	}

	.my-main-body {
		height: 100%;
		min-height: 0;

		#main {
			height: 100%;
			padding-bottom: 0;
		}

		.my-rasporka {
			display: none;
		}

		#footer {
			margin-top: 0;
			height: 10%;
			min-height: $footerHeight;
		}
	}

	> #footer {
		display: none;
	}
}

.intro-block,
.skills-block,
.works-block,
.projekte-block,
.contact-block,
.about-block {
	/*background-color: $llGray;*/
	height: 100%;
}

.flow-block,
.quotes-block,
.contact-block {
	background-color: $dGray;
	height: 50%;
	color: white;
}


.intro-block {
	.separator {
		height: 24%;
	}
}

.skills-block {
	.separator {
		height: 7%;
	}
}

.flow-block {
	.separator {
		height: 10%;
	}
}

.works-block {
	.separator {
		height: 10%;
	}
}

.projekte-block {
	.separator {
		height: 7%;
	}
}

.about-block {
	.separator {
		height: 5%;
	}
}

/*.works-block,
.intro-block {
	position: relative;

	.fullscreenbanner {
		> ul > li {
			padding: 0;
		}

		.caption-wrapper {
			position: relative;
			top: -100%;
			height: 100%;
			white-space: normal;

			.caption-position {
				width: 100%; height: 100%;
				position: relative;
			}
			
			.negative-caption {
				font-size: 2.625rem !important;
				line-height: 1.0665em !important;
				white-space: normal;
			}
		}
	}
}*/


@media only screen and (max-width: 767px) {
	.flow-block,
	.touch .gmap-block {
		display: none;
	}
}


@import "home/intro";
@import "home/skills";
@import "home/flow";
@import "home/about";
@import "home/quotes";
//@import "home/portfolio";
@import "home/projekte";
@import "home/contact";
@import "home/gmap";