/* 
    Created on : 23.05.2014, 16:58:29
    Author     : igodorogea
*/

@media only screen and (max-width: 1040px) {
	.intro-block.fixed .sidenav-bullets {
		display: none;
	}
}
@media only screen and (max-height: 600px) {
	.skills-block {
		&, .tvalign, .tcvalign {
			display: block;
			height: auto;
		}

		.tcvalign {
			padding: 2em 0;
		}

		.separator {
			height: 3em;
		}
	}
}

@media only screen and (max-height: 750px) {

	.flow-block {
		&, .tvalign, .tcvalign {
			display: block;
			height: auto;
		}

		.tcvalign {
			padding: 1em 0;
		}

		.separator {
			height: 2em;
		}
	}
}

@media only screen and (max-height: 730px), only screen and (max-width: 1020px) {

	.about-block {
		&, .tvalign, .tcvalign {
			display: block;
			height: auto;
		}

		.tcvalign {
			padding: 2em 0;
		}

		.separator {
			height: 3em;
		}
	}
}

@media only screen and (max-height: 650px) {

	.contact-block {
		&, .tvalign, .tcvalign {
			display: block;
			height: auto;
		}

		.tcvalign {
			padding: 1em 0;
		}
	}
}

@media only screen and (max-height: 760px), only screen and (max-width: 1000px) {

	.work_with-block {
		&, .tvalign, .tcvalign {
			display: block;
			height: auto;
		}

		.tcvalign {
			padding: 2em 0;
		}

		.separator {
			height: 3em;
		}
	}
}

@media only screen and (max-width: 767px) {
	.work_with-block .partners {
		li {
			width: 50%;
			padding-bottom: 150px;

			&:nth-child(odd) {
				border-right: 1px solid $lGray !important;
			}

			&:nth-child(even) {
				border-right: none !important;
			}

			&.last + .last-row {
				border-bottom: 1px solid $lGray;
			}
		}
	}
	
	.quotes-block {
		&, .tvalign, .tcvalign {
			display: block;
			height: auto;
		}
		
		.tcvalign {
			padding: 2em 0;
		}
		
		.quotes-list {
			padding: 0;
			
			.quote {
				margin-bottom: 1.5em;
			}
		}
	}
}

@media only screen and (max-width: 560px) {
	.work_with-block .partners {
		li {
			width: 100%;

			&.last + .last-row + .last-row {
				border-bottom: 1px solid $lGray;
			}
			
			&:nth-child(odd) {
				border-right: none !important;
			}
		}

	}
}

@media only screen and (max-width: 930px) {
	body #footer {
		height: auto !important;

		li {
			float: none;
			text-align: left;
			width: auto !important;
		}
	}
}

@media only screen and (max-width: 400px) {
	body #footer {
		li.nav a {
			display: block;
			line-height: 1.625;
			margin-left: 0;
			
			&:before {
				content: "";
			}
		}
	}
}
