/* 
    Created on : 19.06.2014, 12:58:34
    Author     : igodorogea
*/

.top-menu {
	background-color: #444;
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	top: 0;
	z-index: 40;
	width: 100%;

	&.unfixed {
		position: fixed !important;
		top: 0 !important;
	}

	.navbar {
		min-height: $topMenuH;
	}

	.navbar .logo,
	.navbar .logo a,
	.navbar ul li,
	.navbar ul li > a {
		line-height: $topMenuH;
	}

	.navbar .logo,
	.navbar ul li {
		height: 100%;
		padding: 0 20px;
	}

	.navbar .logo a,
	.navbar ul li > a {
		height: $topMenuH;
		padding: 0;
	}

	.navbar {
		margin-bottom: 0;
		max-width: 100%;

		.logo {
			margin: 0;

			a {
				float: left;
				font-size: 22px;

				img {
					@include inline-block;
					margin-top: -3px;

					&.small-logo {
						display: none;
					}
				}

				> span {
					margin-left: 12px;
				}
			}
		}

		a {
			color: white;

			&:hover {
				text-decoration: none;
			}
		}

		ul {
			display: block;
			float: right;
			text-align: right;

			li {
				@include inline-block;
			}
		}
	}

	.navbar .logo a:hover {
		border-bottom: 4px solid $orange;
	}

	.navbar ul li > a.active,
	.navbar ul li > a:hover {
		color: $orange;
		border-bottom: 4px solid $orange;
	}

	&.active,
	&.fixed {
		.navbar .logo a img.big-logo {
			width: 58px;
			height: auto;
		}

		//		.navbar .logo a img.small-logo {
		//			@include inline-block;
		//		}

		background-color: #fff;
		@include box-shadow(0 0 4px 0 rgba(0, 0, 0, 0.3));

		.navbar {
			min-height: $topMenuHA;
		}

		.navbar .logo,
		.navbar .logo a,
		.navbar ul li,
		.navbar ul li > a {
			line-height: $topMenuHA;
		}

		.navbar ul li > a,
		.navbar .logo a {
			height: $topMenuHA;
		}

		.navbar .logo,
		.navbar ul li {
			padding: 0 1em;
		}
		.navbar .logo a > span {
			display: none;
		}

		.navbar .logo a:hover {
			border-bottom: 4px solid $orange;
		}

		.navbar ul li > a {
			font-size: 14px;
			color: $dGray;

			&.active,
			&:hover {
				color: $orange;
				border-bottom: 4px solid $orange;
			}
		}
	}

	&.foot-page + .row {
		padding-top: $topMenuH + 10;
	}
}

.gumby-no-touch .navbar .logo a:hover,
.gumby-no-touch .navbar ul li:hover > a,
.gumby-touch .navbar ul li.active > a {
	background: none;
}

@media only screen and (max-width: 767px) {
	.top-menu.active,
	.top-menu.fixed {
		position: absolute !important;

		.navbar ul {
			top: $topMenuHA;
			background-color: white;

			li {
				min-height: 40px;
				border-top: 1px solid #ccc;

				&,
				> a {
					line-height: 40px;
				}

				> a {
					height: 40px;
				}
			}
		}
	}

	.gumby-touch .navbar a:hover {
		color: $orange !important;
		border-bottom: 4px solid $orange;
	}
}
