/* 
    Created on : 19.06.2014, 13:15:11
    Author     : igodorogea
*/


$llGray: #f7f7f7;
$lGray: #d4d4d4;
$dGray: #58595b;
$ddGray: #393a39;
$orange: #f58220;
$dorange: #eb702b;
$ddorange: #E26B29;
$topMenuH: 80px;
$topMenuHA: 54px;
$footerHeight : 120px;


@mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content; }
    @-moz-keyframes #{$name} { @content; }
    @keyframes #{$name} { @content; }
}