// bower:scss
// endbower

@import "compass";
@import "mixins";

$llGray: #f7f7f7;
$lGray: #d4d4d4;
$dGray: #58595b;
$ddGray: #393a39;
$orange: #f58220;
$topMenuH: 80px;
$topMenuHA: 54px;

body {
	.my-main-body {
		#main {

		}
	}

	h2 {
		text-transform: uppercase;
		font-weight: 400;
		color: $dGray;

		span {
			color: $orange;
			font-weight: 700;
		}

		&.negative {
			color: white;

			span {
				color: white;
			}
		}

		&.negative-caption {
			color: white;
			font-weight: 300;

			span {
				color: white;
				font-weight: 600;
			}
		}
	}

	#footer {
		background-color: $dGray;
		color: white;

		a {
			color: white;
		}

		li {
			display: block;
			margin: 0;
			padding: 0;
			line-height: 42px;
			float: left;

			&.copyright {
				width: 40%;
			}

			&.nav {
				width: 40%;
			}

			&.socbtns {
				width: 20%;

				a {
					font-size: 42px;
					@include inline-block;
				}
			}
		}
	}

	&.home {
		.my-main-body {
			height: 100%;
			min-height: 0;

			#main {
				height: 100%;
			}

			.my-rasporka {
				display: none;
			}

			#footer {
				margin-top: 0;
				height: 10%;
			}
		}

		> #footer {
			display: none;
		}
	}
}

.intro-block,
.skills-block,
.works-block,
.work_with-block,
.contact-block,
.about-block {
	background-color: $llGray;
	height: 100%;
}

.flow-block,
.quotes-block,
.contact-block {
	background-color: $dGray;
	height: 50%;
	color: white;
}

.contact-block {
	background-color: $orange;

	form {
		max-width: 540px;
		margin: 0 auto;

		.field {
			margin-bottom: 15px;

			.input.textarea {
				height: 87px;
				resize: vertical;
			}
		}
	}
}

.gmap-block {
	height: 40%;

	#map_container {
		height: 100%;
		background: url("../images/gmap_v2.jpg") no-repeat center center;
	}
}


.top-menu {
	background-color: #666;
	background-color: rgba(0,0,0, .7);
	position: fixed;
	z-index: 30;
	width: 100%;

	//	&:hover {
	//		background-color: #555;
	//		background-color: rgba(0,0,0, .6);
	//	}

	.navbar {
		min-height: $topMenuH;
	}

	.navbar .logo,
	.navbar .logo a,
	.navbar ul li,
	.navbar ul li > a {
		height: 100%;
		line-height: $topMenuH;
	}

	.navbar ul li > a {
		height: $topMenuH;
	}

	.navbar {
		margin-bottom: 0;
		max-width: 100%;

		.logo {
			a {
				padding: 0 20px;
				float: left;
				font-size:22px;

				img {
					@include inline-block;
					margin-top: -3px;
				}

				> span {
					margin-left: 12px;
				}
			}
		}

		a {
			color: white;

			&:hover {
				text-decoration: none;
			}
		}

		ul {
			display: block;
			float: right;
			text-align: right;

			li {
				@include inline-block;
			}
		}
	}


	&.active {
		background-color: #ddd;
		background-color: rgba(255,255,255,0.9);

		&:hover {
			background-color: #fff;
		}

		.navbar {
			min-height: 52px;
		}

		.navbar .logo,
		.navbar .logo a,
		.navbar ul li,
		.navbar ul li > a {
			line-height: $topMenuHA;
		}

		.navbar ul li > a,
		.navbar .logo a {
			height: $topMenuHA;
		}

		.navbar .logo a > span {
			display: none;
		}

		.navbar .logo a > img {
			height: 38px;
		}

		.navbar .logo a:hover {
			border-bottom: 4px solid $orange;
		}

		.navbar ul li > a {
			font-size: 14px;
			color: $dGray;
			padding: 0 1em;

			&:hover {
				color: $orange;
				border-bottom: 4px solid $orange;
			}
		}
	}

}

.gumby-no-touch .navbar .logo a:hover,
.gumby-no-touch .navbar ul li:hover > a,
.gumby-touch .navbar ul li.active > a {
	background: none;
	//	background-color: #333;
	//	background-color: rgba(0,0,0,.4);
}

.intro-block {
	.separator {
		height: 24%;
	}
}

.skills-block {
	.separator {
		height: 10%;
	}
}

.flow-block {
	.separator {
		height: 10%;
	}
}

.works-block {
	.separator {
		height: 10%;
	}
}

.work_with-block {
	.separator {
		height: 7%;
	}
}

.about-block {
	.separator {
		height: 5%;
	}
}

.skill-list {
	li {
		overflow: hidden;
		float: left;
		position: relative;
		width: 19.6%; height: 0;
		padding-top: 18%;
		margin-left: 0.5%;

		&:first-child {
			margin-left: 0;
		}

		.skill {
			position: absolute;
			width: 100%;
			height: 100%;
			padding: 24px 10px;
			left: 0; top: 0;
			font-size: 14px;
			line-height: 1.3;
			//background-color: $dGray;
			//color: white;

			&:hover {
				background-color: white;
				//background-color: rgba(255,255,255,.7);
				border: 2px solid $orange;
				border-radius: 4px;
				padding: 22px 8px;
			}
		}

		.ico {
			display: block;
			height: 64px;
			margin-bottom: 2em;
			text-align: center;

			i {
				@include inline-block;
				background-image: url('../images/site-sprite-new4.png');
				width: 55px;
				height: 64px;
				background-position: 0 0;
			}

			.skill-dev {
				width: 79px;
				background-position: -275px 0;
			}

			.skill-manage {
				width: 67px;
				background-position: -208px 0;
			}

			.skill-test {
				width: 55px;
				background-position: -153px 0;
			}

			.skill-design {
				width: 82px;
				background-position: -71px 0;
			}

			.skill-admin {
				width: 71px;
				background-position: 0 0;
			}
		}

		.h {
			padding: 0;
			margin-bottom: 1em;
			//color: white;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 14px;
		}

		.d {
			line-height: 1.2;
			display: none;
		}
	}
}

.flow-list {
	li {
		float: left;
		position: relative;
		width: 20%; height: 0;
		padding: 0;
		padding-top: 20%;
		margin: 0;
		margin-left: 6.666%;

		&:first-child {
			margin-left: 0;

			&:before {
				content: ""; 
			}
		}

		&:before {
			content: "\e6c0"; 
			font-size: 27px;
			font-family: 'entypo';
			height: inherit;
			left: -17%; top: 50%;
			margin-top: -10px;
			margin-left: -14px;
			position: absolute;
			text-decoration: none;

		}

		.flow {
			position: absolute;
			width: 100%;
			height: 100%;
			padding: 2em 1em;
			left: 0; top: 0;
			background-color: $dGray;
			color: white;
		}

		.ico {
			display: block;
			height: 64px;
			margin-bottom: 2.5em;
			text-align: center;

			i {
				@include inline-block;
				background-image: url('../images/site-sprite-new4.png');
				width: 64px;
				height: 64px;
				background-position: 0 -64px;
			}

			.flow-plan {
				background-position: 0 -64px;
			}
			.flow-design {
				background-position: -64px -64px;
			}
			.flow-dev {
				background-position: -128px -64px;
			}
			.flow-deploy {
				background-position: -192px -64px;
			}
		}

		.h {
			padding: 0;
			margin-bottom: 1em;
			color: white;
			font-weight: 700;
		}

		.d {
			background-color: $orange;
			width: 100%;
			font-size: 14px;
			line-height: 1.3;
			padding: 2em 1em;
			@include opacity(0);
			position: absolute;
			bottom: -55px;
			left: 0;
			border-radius: 3px;

			&:after {
				content: "";
				position: absolute;
				left: 50%;
				bottom: -24px;
				margin-left: -12px;
				border-width: 12px 12px 12px 12px;
				border-color: $orange transparent transparent transparent;
				border-style: solid;
			}
		}

		.flow:hover .d {
			visibility: visible;
			bottom: 75px;
			@include opacity(1);
		}
	}
}

.work_with-block {
	.partners {
		margin-left: 0;
		
		li {
			border-bottom: 1px solid $lGray;
			border-right: 1px solid $lGray;
			padding-bottom: 16%;
			width: 33.3%;
			margin-left: 0;
			position: relative;

			&.last {
				border-right: none;
			}

			&.last-row {
				border-bottom: none;
			}

			a {
/*				width: 100%;
				height: 100%;*/
				position: absolute;
				/*left: 0; top: 0;*/
				left: 50%; top: 50%;

				> div {
					position: absolute;
					/*left: 50%; top: 50%;*/
					background-image: url('../images/site-sprite-new4.png');
					width: 55px;
					height: 64px;
					background-position: 0 -127px;
					//@include opacity(0);

					&.hover {
						@include opacity(1);
					}

					&.muume {
						width: 87px;
						height: 69px;
						margin-left: -43px;
						margin-top: -34px;
						background-position: -93px -127px;

						&.hover {
							background-position: 0 -127px;
						}
					}

					&.eqs {
						width: 153px;
						height: 28px;
						margin-left: -76px;
						margin-top: -14px;
						background-position: -180px -134px;

						&.hover {
							background-position: -180px -168px;
						}
					}

					&.masterpayment {
						width: 239px;
						height: 34px;
						margin-left: -119px;
						margin-top: -17px;
						background-position: 0 -230px;

						&.hover {
							background-position: 0 -196px;
						}
					}


					&.meinprospekt {
						width: 137px;
						height: 32px;
						margin-left: -68px;
						margin-top: -16px;
						background-position: -241px -230px;

						&.hover {
							background-position: -241px -196px;
						}
					}

					&.rentarentner {
						width: 141px;
						height: 53px;
						margin-left: -70px;
						margin-top: -26px;
						background-position: -144px -264px;

						&.hover {
							background-position: -3px -264px;
						}
					}

					&.wantto {
						width: 80px;
						height: 80px;
						margin-left: -40px;
						margin-top: -40px;
						background-position: -84px -317px;

						&.hover {
							background-position: -1px -317px;
						}
					}

					&.vorwerk {
						width: 135px;
						height: 66px;
						margin-left: -68px;
						margin-top: -33px;
						background-position: -136px -397px;

						&.hover {
							background-position: 0 -397px;
						}
					}

					&.handyortung {
						width: 181px;
						height: 32px;
						margin-left: -90px;
						margin-top: -16px;
						background-position: -164px -357px;

						&.hover {
							background-position: -164px -325px;
						}
					}

					&.musicmonster {
						width: 85px;
						height: 68px;
						margin-left: -42px;
						margin-top: -34px;
						background-position: -86px -463px;

						&.hover {
							background-position: 0 -463px;
						}
					}
				}

				&:hover {
					> div {
						//@include opacity(1);
						
						&.hover {
							@include opacity(0);
						}
					}
				} 
			}
		}
	}
}

.works-block {
	//@include background-cover('../images/works-puma.jpg');

	h2, h4 {
		font-weight: 700;
		line-height: 1.2;
		padding: 0;
	}

	h2 {
		color: $ddGray;
		margin: 0;
	}

	h4 {
		margin-bottom: 2em;

		&.semibold {
			margin: 0;
			font-weight: 600;
			color: $ddGray;
		}
	}

	.tparrows.hidearrows {
		@include opacity(1);
	}

	.tp-leftarrow.default {
		margin-left: 20px;
	}

	.tp-rightarrow.default {
		margin-right: 40px
	}

	.rar {
		.rar-box {
			background-color: white;
			background-color: rgba(255,255,255,.7);
			border-radius: 5px;
			position: relative;

			&:before,
				&:after {
				content: "";
				position: absolute;
				top: 5px; left: 2%;
				width: 96%; height: 10px;
				background-image: url('../images/dash_h.png');
				background-repeat: repeat-x;
				background-position: top left;
			}

			&:after {
				top: auto; bottom: 0;
			}

			.rar-box-inner {
				padding: 1.5em 2em;

				&:before,
					&:after {
					content: "";
					position: absolute;
					top: 2%; left: 4px;
					width: 10px; height: 96%;
					background-image: url('../images/dash_v.png');
					background-repeat: repeat-y;
					background-position: top left;
				}

				&:after {
					left: auto; right: 2px;
				}
			}
		}
		$nav_bull: 30px;
		nav {
			margin-bottom: 1em;

			li {
				margin-left: 4px;
				@include inline-block;
				padding: 0;
				width: $nav_bull; height: $nav_bull;
				line-height: $nav_bull;
				border-radius: $nav_bull/2;
				background-color: #333;
				background-color: rgba(0,0,0,.5);
				color: white;
				text-align: center;
				font-size: 18px;

				&:hover {
					background-color: #000;
					background-color: rgba(0,0,0,.8);
				}

				i {
					margin: 0;
				}

				&:first-child {
					margin-left: 0;
				}
			}
		}

		.caption-wrapper .tvalign {
			background-image: url('../images/works_rar3.jpg');
			background-repeat: no-repeat;
			background-position: center center;
			max-width: 1090px;
		}
	}
}

.works-block,
.intro-block {
	position: relative;

	.fullscreenbanner {
		> ul > li {
			padding: 0;
		}

		.caption-wrapper {
			position: absolute;
			width: 100%; height: 100%;
			top: 0; left: 0;
			white-space: normal;
		}
	}
}

.intro-block {

	.skiplinks-nav {
		a {
			color: $ddGray;
			text-align: center;
			@include inline-block;

			.ico {
				display: block;
				margin: 0 auto 30px;
				font-size: 54px;
				line-height: 1;
				position: relative;
				text-shadow: 0 0 20px #FFFFFF;

				/*				&:before {
									@include box-shadow(0 10px 80px 80px rgba(255, 255, 255, 0.5));
									content: "";
									height: 0; width: 0;
									position: absolute;
									left: 50%; top: 50%;
									z-index: 0;
								}*/

				i {
					position: relative;
					vertical-align: middle;
				}
			}

			.txt {
				position: relative;
				font-weight: 400;
				padding: 0;
				color: inherit;
				text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
			}
		}
	}

	.phone-calculator {
		position: absolute;
		width: 452px; height: 40%;
		margin-left: -630px;
		left: 50%; bottom: 0;
		border: none;
		overflow: hidden;
		background: none;

		a {
			padding: 0;
			display: block;
			position: relative;
			background: none;

			img {
				/*height: 100% !important;*/
				max-width: none;
				max-height: 464px;
				width: auto !important;

				&.overlay {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: auto;
				}
			}
		}
	}

}
.intro-block.active {

	nav a:hover {
		text-decoration: none;

		.ico {
			color: $orange;
		}

		.ico:before {
			@include box-shadow(0 10px 70px 70px rgba(255, 255, 255, 0.6));
		}

		.txt {
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
		}
	}
}

.intro-block.fixed {
	.phone-calculator {
		-webkit-transform: none !important;
		-ms-transform: none !important;
		-o-transform: none !important;
		transform: none !important;
	}

	.fullscreenbanner.loaded {
		> ul > li.first-slide-intro {
			z-index: 21 !important;
			overflow-y: visible !important;
		}

		.skiplinks-nav {
			width: 30px;
			min-width: 0 !important;
			left: 16px !important;
			top: 50% !important;
			margin-top: -50px !important;
			padding: 0 !important;
			position: fixed;
			z-index: 2;
			@include opacityImp(1);
			-ms-transform: none !important;
			-o-transform: none !important;
			transform: none !important;
			-webkit-backface-visibility: hidden; 
			-webkit-transform: translateZ(0) !important;
			

			.ico i {
				display: none;
			}

			h4 {
				font-size: 16px;
				font-size: 1rem;
				color: white !important;
				text-shadow: none !important;
			}

			li {
				float: none;
				margin: 4px 0;
				padding: 0;
				width: 20px;
				height: 16px;
				position: relative;
				color: $ddGray;
				text-shadow: 1px 1px 2px rgba(200, 200, 200, .7), -1px -1px 2px rgba(60, 60, 60, .7);

				&:before {
					content: "\e6e0";
					cursor: pointer;
					display: block;
					font-family: "entypo";
					font-size: 40px;
					height: 16px;
					line-height: 20px;
					overflow: hidden;
					text-indent: -12px;
					width: 16px;
				}

				a {
					/*display: block;*/
					background-color: $orange;
					position: absolute;
					left: -120px; top: 0;
					padding: 1px 7px 2px;

					.ico {
						position: absolute;
						width: 0; 
						height: 0;
						border-width: 10px 10px 10px 16px;
						border-color: transparent $orange transparent transparent;
						border-style: solid;
						left: -26px; top: 0;

						&:before {
							display: none;
						}
					}
				}


				&.active,
				&:hover {
					color: $orange;
					overflow: visible;
				}

				&:hover a {
					left: 30px;
					text-decoration: none;
				}
			}
		}
	}
}

.quotes-block {
	position: relative;

	> * {
		position: relative;
		z-index: 1;
	}

	&:before {
		content: "\e621"; 
		font-size: 400px;
		font-family: 'entypo';
		height: inherit;
		left: 50%; top: 50%;
		margin-top: -200px;
		margin-left: -150px;
		position: absolute;
		text-decoration: none;
		color: #545557;
		line-height: 1;
	}

	.quotes-list {
		padding: 0 7em;
		position: relative;

		.quote,
		.author-desc {
			font-style: italic;
		}

		.quote {
			margin-bottom: 3em;
		}

		.author {
			color: $orange;
			font-weight: 700;
		}

		.carousel-inner > .item {
			padding: 0 20px;
			@include transition(.7s ease-in-out left);
		}
	}
}

@import 'animations';
@import 'media_queries';


.fullscreenbanner-container .tp-bullets {
	@include transition(none);

	&.hidebullets {
		@include opacity(1);
	}

	.bullet {
		@include inline-block;
		background-color: $dGray;
		border: 2px solid white;
		border-radius: 7px;
		height: 14px;
		margin-left: 0.5em;
		padding: 0;
		width: 14px;

		&:hover {
			border: 3px solid white;
		}

		&.selected {
			background-color: $orange;
		}
	}
} 