<div class="tvalign row">
	<div class="tcvalign">
		<div class="clearfix">
			<div class="pull_left">
				<nav class="footer-nav">
					<a href="/{{lang}}/calculator/"
					   data-ng-click="sendEvent($event, 'S3Calculator');"
					   target="_self">{{l10n.footer.menu.calculator[lang]}}</a>
					<a href="{{path}}agb">{{l10n.footer.menu.agb[lang]}}</a>
					<a href="{{path}}impressum">{{l10n.footer.menu.impressum[lang]}}</a>
					<a href="{{path}}datenschutz">{{l10n.footer.menu.datenschutz[lang]}}</a>
				</nav>

				<p class="copyright clearfix">
					<span class="pull_left">
						{{l10n.footer.copyright[lang]}}
					</span>
				</p>
			</div>

			<div class="dropdown language-menu pull_right">
				<select class="dropdown-select"
						ng-model="test.key"
						ng-options="_lang.name as _lang.title for _lang in langs">
				</select>
			</div>

			<nav class="social-nav pull_right">
				<a href="https://www.facebook.com/Winify"
				   data-ng-click="sendEvent($event, 'S3FBbutton');"
				   target="_blank"><i class="fa fa-facebook-square"></i></a>
				<a href="https://twitter.com/Winify_com"
				   data-ng-click="sendEvent($event, 'S3TwitterButton');"
				   target="_blank"><i class="fa fa-twitter-square"></i></a>
			</nav>
		</div>
	</div>
</div>
