<div class="tvalign row">
	<div class="tcvalign text-center">
		<ul class="clearfix">
			<li class="copyright text-left">
				&COPY; 2014 Winify. All rights reserved.
			</li>
			<li class="socbtns text-center">
				<a href="#"><i class="icon-facebook-circled"></i></a>
				<a href="#"><i class="icon-gplus-circled"></i></a>
			</li>
			<li class="nav text-right">
				<a href="#">Terms and conditions</a> /
				<a href="#">Imprint</a> /
				<a href="#">Privacy Policy</a>
			</li>
		</ul>
	</div>
</div>
