<div class="navbar" id="nav1">
	<!-- Toggle for mobile navigation, targeting the <ul> -->
	<a class="toggle" gumby-trigger="#nav1 > ul" href="#"><i class="icon-menu"></i></a>

	<div class="pull_left logo">
		<a href="{{path}}?intro"
			   ng-click="skipTo('intro');sendEvent($event,'S0WinifyLogo');">
			<img class="big-logo"
				 src="/images/logo_winify.png"/>
			<!--<img class="small-logo"-->
				 <!--src="/images/logo-des.png"/>-->
			<span ng-hide="BrowserSize.width < 875">Winify</span>
		</a>
	</div>
	<ul class="pull_right">
		<li><a href="{{path}}?intro"
			   ng-click="skipTo('intro');sendEvent($event,'S0WinifyHome');">Home</a></li>
		<li><a href="{{path}}?skills"
			   ng-click="skipTo('skills');sendEvent($event,'S0Skills');">Leistungen</a></li>
		<li><a href="{{path}}?about"
			   ng-click="skipTo('about');sendEvent($event,'S0About');">Wir</a></li>
		<li><a href="{{path}}?projekte"
			   ng-click="skipTo('projekte');sendEvent($event,'S0Projekte');">Projekte</a></li>
		<li><a href="{{path}}?contact"
			   ng-click="skipTo('contact');sendEvent($event,'S0Contact');">Kontakt</a></li>
		<li><a href="/calculator/"
			   target="_self"
			   ng-click="sendEvent($event,'S0Calculator');">Projektrechner</a></li>
	</ul>
</div>