<div class="fullscreenbanner">
	<ul>
		<li class="first-slide-intro"
			data-transition="fade"
			data-slotamount="4"
			data-masterspeed="2500">
			<img src="images/intro-bg6.jpg"
				 alt="Winify home slider"
				 data-bgfit="cover"
				 data-bgposition="center center"
				 data-bgrepeat="no-repeat">


			<!--<div class="caption-wrapper row">-->
			<!--<div class="caption-position">-->
			<!-- LAYERS -->
			<!-- LAYER NR. 1 -->
			<nav class="skiplinks-nav row caption lft"
				 data-x="center"
				 data-y="center"
				 data-voffset="-50"
				 data-speed="400"
				 data-start="800"
				 data-easing="Power4.easeOut"
				 data-endspeed="300"
				 data-endeasing="Power1.easeIn"
				 data-ng-class="{fixed: block !== 'intro'}">
				<ul>
					<li data-ng-repeat="_block in l10n.homePageBlocks"
						class="two columns text-center"
						data-ng-class="{push_one: _block.name === 'skills', push_two: _block.name === 'projekte'}"
						data-ng-if="_block.name !== 'intro'">
						<a href="{{path}}?{{_block.name}}"
						   data-ng-click="skipTo(_block.name);
								   sendEvent($event, 'S1' + (_block.name.charAt(0).toUpperCase() + _block.name.slice(1)));">
							<span class="ico">
								<i class="icon-graduation-cap"
								   data-ng-if="_block.name === 'skills'"></i>
								<!--								<i class="icon-folder"
																   data-ng-if="_block.name === 'works'"></i>-->
								<i class="icon-info-circled"
								   data-ng-if="_block.name === 'about'"></i>
								<i class="icon-network"
								   data-ng-if="_block.name === 'projekte'"></i>
								<i class="fa fa-phone-square"
								   data-ng-if="_block.name === 'contact'"></i>
							</span>
							<h4 class="txt">{{_block.text[lang]}}</h4>
						</a>
					</li>
				</ul>
			</nav>

			<!-- LAYER NR. 2 -->
			<div class="phone-calculator caption lfb"
				 data-x="center"
				 data-y="bottom"
				 data-speed="600"
				 data-start="800">
				<a href="/{{lang}}/calculator/"
				   target="_self"
				   data-ng-click="sendEvent($event, 'S1iPhoneCalcBtn');">
					<img alt="Winify project calculator" src="images/calculator_v2.png" />
					<img alt="Winify project calculator" class="overlay" src="images/calculator_v2_overlay_v2.png" />
				</a>
			</div>

			<!-- LAYER NR. 3 -->
			<div class="tp-caption skewfromright large bxwide orange btn big-btn"
				 data-x="center"
				 data-y="center"
				 data-voffset="200"
				 data-speed="400"
				 data-start="1500"
				 data-easing="Power4.easeOut"
				 data-endspeed="300"
				 data-endeasing="Power1.easeIn">
				<a href="/{{lang}}/calculator/"
				   target="_self"
				   data-ng-click="sendEvent($event, 'S1CalcBtn');"
				   data-ng-bind-html="l10n.intro.slide1.layer3.btn[lang]"></a>
			</div>
			<!--</div>-->
			<!--</div>-->
		</li>
		<li data-transition="fade"
			data-slotamount="4"
			data-masterspeed="1000">
			<img src="images/intro_slide_21.jpg"
				 alt="Winify home slider"
				 data-bgfit="cover"
				 data-bgposition="center center"
				 data-bgrepeat="no-repeat">

			<div class="caption-wrapper row">
				<div class="caption-position">
					<!--LAYERS-->
					<!--LAYER NR. 1-->
					<h2 class="negative-caption tp-caption lft"
						data-y="center"
						data-x="left"
						data-voffset="-100"
						data-hoffset="0"
						data-speed="600"
						data-start="1000"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-ng-bind-html="l10n.intro.slide2.layer1.h2[lang]"></h2>

					<!--LAYER NR. 2-->
					<div class="tp-caption skewfromleft large bxwide orange btn"
						 data-y="center"
						 data-x="0"
						 data-speed="600"
						 data-start="1400"
						 data-easing="Power4.easeOut"
						 data-endspeed="300"
						 data-endeasing="Power1.easeIn">
						<a href="{{path}}?about"
						   data-ng-click="skipTo('about');
							   sendEvent($event, 'S2About');"
						   data-ng-bind-html="l10n.intro.slide2.layer2.btn[lang]"></a>
					</div>
				</div>
			</div>
		</li>
		<li class="contact-slide"
			data-transition="slideleft"
			data-slotamount="4"
			data-masterspeed="1000">
			<img src="images/intro-bg.jpg"
				 alt="Winify home slider"
				 data-bgfit="cover"
				 data-bgposition="center center"
				 data-bgrepeat="no-repeat">

			<div class="caption-wrapper row">
				<div class="caption-position">
					<!--LAYERS-->
					<!--LAYER NR. 1-->
					<h2 class="negative-caption tp-caption lft"
						data-y="center"
						data-x="0"
						data-voffset="-100"
						data-speed="600"
						data-start="1000"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-ng-bind-html="l10n.intro.slide3.layer1.h2[lang]"></h2>

					<!--LAYER NR. 2-->
					<div class="tp-caption skewfromleft large bxwide orange btn"
						 data-y="center"
						 data-x="0"
						 data-voffset="50"
						 data-speed="600"
						 data-start="1400"
						 data-easing="Power4.easeOut"
						 data-endspeed="300"
						 data-endeasing="Power1.easeIn">
						<a href="{{path}}?contact"
						   data-ng-click="skipTo('contact');
							   sendEvent($event, 'S2Contact');"
						   data-ng-bind-html="l10n.intro.slide3.layer2.btn[lang]"></a>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="tp-bannertimer tp-bottom"></div>
</div>

<!--<nav class="sidenav-bullets">
	<ul>
		<li data-ng-repeat="_block in l10n.homePageBlocks">
			<a href="{{path}}?{{_block.name}}"
			   data-ng-class="{active: block === _block.name}"
			   data-ng-click="skipTo(_block.name)">
				<i class="icon-dot"></i>
				<span>{{_block.text}}</span>
			</a>
		</li>
	</ul>
</nav>-->