<h2 data-ng-bind-html="l10n.projekte.title[lang]"></h2>

<div class="separator"></div>

<p data-ng-bind-html="l10n.projekte.content[lang]"></p>

<div class="separator"></div>

<ul class="partners clearfix">
	<li>
		<a target="_blank" href="http://www.porsche-se.com"
		   data-ng-click="sendEvent($event,'S3ProjectPorche');">
			<div class="porche"></div>
			<div class="porche hover"></div>
		</a>
	</li>

	<li>
		<a target="_blank" href="http://sky.com/"
		   data-ng-click="sendEvent($event,'S3ProjectSky');">
			<div class="sky"></div>
			<div class="sky hover"></div>
		</a>
	</li>

	<li class="last">
		<a target="_blank" href="https://masterpayment.com/"
		   data-ng-click="sendEvent($event,'S3ProjectMasterpayment');">
			<div class="masterpayment"></div>
			<div class="masterpayment hover"></div>
		</a>
	</li>

	<li>
		<a target="_blank" href="http://www.afterbuy.de/"
		   data-ng-click="sendEvent($event,'S3ProjectAFTERBUY');">
			<div class="after-buy"></div>
			<div class="after-buy hover"></div>
		</a>
	</li>

	<li>
		<a target="_blank" href="http://cashlessnation.com/"
		   data-ng-click="sendEvent($event,'S3ProjectCashlessNation');">
			<div class="cashless-nation"></div>
			<div class="cashless-nation hover"></div>
		</a>
	</li>

	<li class="last">
		<a target="_blank" href="http://corporate.vorwerk.de/{{lang}}/home/"
		   data-ng-click="sendEvent($event,'S3ProjectVORWERK');">
			<div class="vorwerk"></div>
			<div class="vorwerk hover"></div>
		</a>
	</li>

	<li class="last-row">
		<a target="_blank" href="http://www.iwant2.com/"
		   data-ng-click="sendEvent($event,'S3ProjectW2');">
			<div class="iwant2"></div>
			<div class="iwant2 hover"></div>
		</a>
	</li>

	<li class="last-row">
		<a target="_blank" href="http://www.meinprospekt.de/karlsruhe"
		   data-ng-click="sendEvent($event,'S3ProjectMeinProspekt');">
			<div class="meinprospekt"></div>
			<div class="meinprospekt hover"></div>
		</a>
	</li>

	<li class="last last-row">
		<a target="_blank" href="http://pcp-europe.com/"
		   data-ng-click="sendEvent($event,'S3ProjectPCP');">
			<div class="pcp"></div>
			<div class="pcp hover"></div>
		</a>
	</li>
</ul>