<h2 data-ng-bind-html="l10n.skills.title[lang]"></h2>

<div class="separator"></div>

<p data-ng-bind-html="l10n.skills.content[lang]"></p>

<div class="separator"></div>

<ul class="skill-list clearfix">
	<li data-ng-repeat="skill in l10n.skills.list">
		<div class="skill">
			<span class="ico"><i data-ng-class="skill.ico"></i></span>
			<h6 class="h">{{skill.head[lang]}}</h6>
			<span class="d">{{skill.desc[lang]}}</span>
		</div>
	</li>
</ul>

<div class="separator"></div>

<p data-ng-bind-html="l10n.skills.content2[lang]"></p>
