<div class="tvalign row">
	<div class="tcvalign text-center">
		<div style="height: 7%;"></div>
		
		<h2>
			Engaging your <span>audience</span>.<br/>
			That's what we're here for
		</h2>
		
		<div style="height: 7%;"></div>
		
		<p>Gute Produkte zu machen heißt für uns, unsere ganze Erfahrung, all unser Know How und Kreativität in die Waagschale zu werfen. Wir wollen das beste für unsere Kunden erreichen: State-of-the-Art Webseiten und Software Produkte, kundenfreundliches Design & Usability, konvertierende Shops und vieles mehr. Zu viele Buzzwords? Scrollen Sie bitte etwas herunter. Dort ist unser Kontaktfeld. Lassen Sie uns sprechen, wir werden gerne konkret.</p>
		
		<div style="height: 7%;"></div>
		
		<figure class="">
			<img src="images/about-set.jpg" alt="About" />
		</figure>
		
		<div style="height: 7%;"></div>
	</div>
</div>
