<div class="tvalign row">
	<div class="tcvalign text-center">
		<div style="height: 7%;"></div>
		
		<h2 class="negative">
			We would love to learn<br/>
			about <span>your project</span>.
		</h2>
		
		<div style="height: 7%;"></div>
		
		<form action="">
			<ul class="two_up tiles">
				<li>
					<div class="field">
						<input class="input" type="text" placeholder="Name" />
					</div>
					<div class="field">
						<input class="input" type="text" placeholder="Email" />
					</div>
				</li>
				<li>
					<div class="field">
						<textarea class="input textarea" placeholder="Message"></textarea>
					</div>
					
					<div class="text-right">
						<div class="btn medium info"><a href="#">Submit</a></div>
					</div>
				</li>
			</ul>
		</form>
		
		<div style="height: 7%;"></div>
	</div>
</div>
