<h2 class="negative">
	Von der ersten <span>Idee</span>, über das <span>Konzept</span><br/>
	bis zum <span>Launch</span>
</h2>

<div class="separator"></div>

<ul class="flow-list clearfix">
	<li>
		<div class="flow">
			<span class="ico"><i class="flow-plan"></i></span>
			<h5 class="h">Plan</h5>
			<span class="d">
				Defining Goals<br/>
				Setting Milestones<br/>
				Estimate delivery date
			</span>
		</div>
	</li>
	<li>
		<div class="flow">
			<span class="ico"><i class="flow-design"></i></span>
			<h5 class="h">Design</h5>
			<span class="d">
				UI Design<br/>
				User Experience<br/>
				Usability<br/>
				Sketching & Prototyping
			</span>
		</div>
	</li>
	<li>
		<div class="flow">
			<span class="ico"><i class="flow-dev"></i></span>
			<h5 class="h">Entwickeln</h5>
			<span class="d">
				Web & App Development<br/>
				Content Management Systems<br/>
				E-Commerce Solutions<br/>
				Responsive Web Design<br/>
				Quality Assurance
			</span>
		</div>
	</li>
	<li>
		<div class="flow">
			<span class="ico"><i class="flow-deploy"></i></span>
			<h5 class="h">Launch</h5>
			<span class="d">
				Maintenance<br/>
				Marketing<br/>
				Analytics<br/>
				Continual improvement
			</span>
		</div>
	</li>
</ul>