<div class="tvalign row">
	<div class="tcvalign text-center">
		<div>
			<h2 class="negative">
				From <span>concept</span> to <span>launch</span>,<br/>
				we've got your back.
			</h2>
		</div>
		
		<div style="height: 10%;"></div>
		
		<div>
			<ul class="flow-list clearfix">
				<li>
					<div class="flow">
						<span class="ico"><i class="flow-plan"></i></span>
						<h5 class="h">Plan</h5>
						<span class="d">Interdum vehicula vitae taciti faucibus autem massa elit fringilla mauris eu purus.</span>
					</div>
				</li>
				<li>
					<div class="flow">
						<span class="ico"><i class="flow-design"></i></span>
						<h5 class="h">Design</h5>
						<span class="d">Interdum vehicula vitae taciti faucibus autem massa elit fringilla mauris eu purus.</span>
					</div>
				</li>
				<li>
					<div class="flow">
						<span class="ico"><i class="flow-dev"></i></span>
						<h5 class="h">Develop</h5>
						<span class="d">Interdum vehicula vitae taciti faucibus autem massa elit fringilla mauris eu purus.</span>
					</div>
				</li>
				<li>
					<div class="flow">
						<span class="ico"><i class="flow-deploy"></i></span>
						<h5 class="h">Deploy</h5>
						<span class="d">Interdum vehicula vitae taciti faucibus autem massa elit fringilla mauris eu purus.</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
