<div class="tvalign row">
	<div class="tcvalign text-center">
		<div>
			<h2 class="negative">
				Von der ersten <span>Idee</span>, über das <span>Konzept</span><br/>
				bis zum <span>Launch</span>
			</h2>
		</div>
		
		<div style="height: 10%;"></div>
		
		<div>
			<ul class="flow-list clearfix">
				<li>
					<div class="flow">
						<span class="ico"><i class="flow-plan"></i></span>
						<h5 class="h">Plan</h5>
						<span class="d">Interdum vehicula vitae taciti faucibus autem massa elit fringilla mauris eu purus.</span>
					</div>
				</li>
				<li>
					<div class="flow">
						<span class="ico"><i class="flow-design"></i></span>
						<h5 class="h">Design</h5>
						<span class="d">Interdum vehicula vitae taciti faucibus autem massa elit fringilla mauris eu purus.</span>
					</div>
				</li>
				<li>
					<div class="flow">
						<span class="ico"><i class="flow-dev"></i></span>
						<h5 class="h">Entwickeln</h5>
						<span class="d">Interdum vehicula vitae taciti faucibus autem massa elit fringilla mauris eu purus.</span>
					</div>
				</li>
				<li>
					<div class="flow">
						<span class="ico"><i class="flow-deploy"></i></span>
						<h5 class="h">Launch</h5>
						<span class="d">Interdum vehicula vitae taciti faucibus autem massa elit fringilla mauris eu purus.</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
