<!--<div class="top-menu-bg"></div>-->
<div class="tvalign row">
	<div class="tcvalign text-center">
		<figure class="logo-big">
			<!--<img src="images/logo_big.png" alt="Logo Big">-->
		</figure>

		<nav>
			<ul class="row">
				<li class="two columns text-left push_two"><a href="#"><span class="ico"><i class="icon-graduation-cap"></i></span><span class="txt">Skills</span></a></li>
				<li class="two columns text-center"><a href="#"><span class="ico"><i class="icon-folder"></i></span><span class="txt">Works</span></a></li>
				<li class="two columns text-center"><a href="#"><span class="ico"><i class="icon-info-circled"></i></span><span class="txt">About</span></a></li>
				<li class="two columns text-right"><a href="#"><span class="ico"><i class="icon-phone"></i></span><span class="txt">Contact</span></a></li>
			</ul>
		</nav>
		
		<!-- Doua containere pentru a seta inaltime in procente si a positiona butonul jos - un container pentru positie relativa si inaltime altul pentru positie absoluta si positionare jos latime 100% pentru a face posibila alinierea pe centru a butonului -->
		<div class="button-container">
			<div class="button-wrap">
				<div class="large xwide orange btn"><a href="#">Project Calculator</a></div>
			</div>
		</div>
	</div>
</div>
