
<div style="height: 20%;"></div>

<nav class="skiplinks-nav" ng-class="{fixed: block!=='intro'}">
	<ul class="row">
		<li class="two columns text-center" ng-hide="block==='intro'">
			<a href="#{{path}}?intro"
			   ng-click="skipTo('intro')">
				<span class="ico">
					<i class="icon-graduation-cap"></i>
				</span>
				<h4 class="txt">To&nbsp;top</h4>
			</a>
		</li>
		<li class="two columns text-center push_one" ng-class="{active: block==='skills'}">
			<a href="#{{path}}?skills"
			   ng-click="skipTo('skills')">
				<span class="ico">
					<i class="icon-graduation-cap"></i>
				</span>
				<h4 class="txt">Skills</h4>
			</a>
		</li>
		<li class="two columns text-center" ng-class="{active: block==='works'}">
			<a href="#{{path}}?works"
			   ng-click="skipTo('works')">
				<span class="ico">
					<i class="icon-folder"></i>
				</span>
				<h4 class="txt">Works</h4>
			</a>
		</li>
		<li class="two columns text-center push_two" ng-class="{active: block==='about'}">
			<a href="#{{path}}?about"
			   ng-click="skipTo('about')">
				<span class="ico">
					<i class="icon-info-circled"></i>
				</span>
				<h4 class="txt">About</h4>
			</a>
		</li>
		<li class="two columns text-center" ng-class="{active: block==='contact'}">
			<a href="#{{path}}?contact"
			   ng-click="skipTo('contact')"
			   style="padding-right: 14px;">
				<span class="ico">
					<i class="icon-phone"></i>
				</span>
				<h4 class="txt">Contact</h4>
			</a>
		</li>
	</ul>
</nav>


<div style="height: 20%;"></div>

<div class="large bxwide orange btn phone-calculator">
	<a href="#">
		<img src="images/calculator_v2.png" alt="" />
		<span>Project Calculator</span>
	</a>
</div>