
<div style="height: 20%;"></div>

<nav class="skiplinks-nav" gumby-fixed="500" ng-class="{fixed: block!=='intro'}">
	<ul class="row">
		<li class="two columns text-center hide">
			<a href="intro"
			   class="skip"
			   gumby-goto="top"
			   gumby-update="">
				<span class="ico">
					<i class="icon-graduation-cap"></i>
				</span>
				<h4 class="txt">To&nbsp;top</h4>
			</a>
		</li>
		<li class="two columns text-center push_two" ng-class="{active: block==='skills'}">
			<a href="skills"
			   class="skip"
			   gumby-goto=".skills-block"
			   gumby-update="">
				<span class="ico">
					<i class="icon-graduation-cap"></i>
				</span>
				<h4 class="txt">Skills</h4>
			</a>
		</li>
		<li class="two columns text-center" ng-class="{active: block==='works'}">
			<a href="works"
			   class="skip"
			   gumby-goto=".works-block"
			   gumby-update="">
				<span class="ico">
					<i class="icon-folder"></i>
				</span>
				<h4 class="txt">Works</h4>
			</a>
		</li>
		<li class="two columns text-center" ng-class="{active: block==='about'}">
			<a href="about"
			   class="skip"
			   gumby-goto=".about-block"
			   gumby-update="">
				<span class="ico">
					<i class="icon-info-circled"></i>
				</span>
				<h4 class="txt">About</h4>
			</a>
		</li>
		<li class="two columns text-center" ng-class="{active: block==='contact'}">
			<a href="contact"
			   style="padding-right: 14px;"
			   class="skip"
			   gumby-goto=".contact-block"
			   gumby-update="">
				<span class="ico">
					<i class="icon-phone"></i>
				</span>
				<h4 class="txt">Contact</h4>
			</a>
		</li>
	</ul>
</nav>


<div style="height: 20%;"></div>

<div class="large bxwide orange btn"><a href="#">Project Calculator</a></div>