<div class="tvalign row">
	<div class="tcvalign text-center">
		<div class="quotes-list">
			<ul>
				<li>
					<p class="quote">
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt lorem tellus, ac tincidunt libero malesuada non. Vivamus sollicitudin pharetra tellus, in faucibus eros blandit ac. Sed sapien ante, pulvinar in bibendum non, molestie vitae diam. Integer quis purus eget sem feugiat fermentum."
					</p>
					
					<div class="author">John Doe</div>
					<div class="author-desc">Creative Director</div>
				</li>
<!--				<li>
					<p class="quote">
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt lorem tellus, ac tincidunt libero malesuada non. Vivamus sollicitudin pharetra tellus, in faucibus eros blandit ac. Sed sapien ante, pulvinar in bibendum non, molestie vitae diam. Integer quis purus eget sem feugiat fermentum."
					</p>
					<div>
						<span class="author">John Doe</span>
						<span class="author-desc">Creative Director</span>
					</div>
				</li>
				<li>
					<p class="quote">
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt lorem tellus, ac tincidunt libero malesuada non. Vivamus sollicitudin pharetra tellus, in faucibus eros blandit ac. Sed sapien ante, pulvinar in bibendum non, molestie vitae diam. Integer quis purus eget sem feugiat fermentum."
					</p>
					<div>
						<span class="author">John Doe</span>
						<span class="author-desc">Creative Director</span>
					</div>
				</li>-->
			</ul>
			
			<div class="prev-quote"></div>
			<div class="next-quote"></div>
		</div>

	</div>
</div>
