<div class="tvalign row">
	<div class="tcvalign text-center">
		<div>
			<h2>
				Unlocking <span>new</span> revenue<br/>
				streams for <span>you</span>
			</h2>
		</div>
		
		<div style="height: 10%;"></div>
		
		<div>
			<p>Auctor sed litora volutpat vivamus occaecat. Amet exercitationem et. Fringilla libero lorem pharetra senectus erat lobortis aliquam aenean. Tortor eveniet quis ut lectus ac ipsum eros adipiscing. Egestas odio ultricies consequat scelerisque rhoncus. Ut et vehicula mauris nec suspendisse. Bibendum sunt risus. Laoreet libero erat. Amet arcu vitae tellus sit vivamus gravida libero mi elementum amet id varius lobortis erat. Curabitur hymenaeos sed. Ligula pretium ligula. Con sit sit. Interdum vehicula vitae taciti faucibus autem massa elit fringilla mauris eu purus. Proin velit mauris erat integer ut. Egestas elementum at aliquam mauris donec.</p>
		</div>
		
		<div style="height: 10%;"></div>
		
		<div>
			<ul class="skill-list clearfix">
				<li>
					<div class="skill">
						<span class="ico"><i class="skill-dev"></i></span>
						<h6 class="h">Software development</h6>
						<span class="d">Interdum vehicula vitae taciti faucibus autem massa elit fringilla mauris eu purus.</span>
					</div>
				</li>
				<li>
					<div class="skill">
						<span class="ico"><i class="skill-manage"></i></span>
						<h6 class="h">Product/project management</h6>
						<span class="d">Interdum vehicula vitae taciti faucibus autem massa elit fringilla mauris eu purus.</span>
					</div>
				</li>
				<li>
					<div class="skill">
						<span class="ico"><i class="skill-test"></i></span>
						<h6 class="h">Testing and Quality assurance</h6>
						<span class="d">Interdum vehicula vitae taciti faucibus autem massa elit fringilla mauris eu purus.</span>
					</div>
				</li>
				<li>
					<div class="skill">
						<span class="ico"><i class="skill-design"></i></span>
						<h6 class="h">Design</h6>
						<span class="d">Interdum vehicula vitae taciti faucibus autem massa elit fringilla mauris eu purus.</span>
					</div>
				</li>
				<li>
					<div class="skill">
						<span class="ico"><i class="skill-admin"></i></span>
						<h6 class="h">Administration and Maintenance</h6>
						<span class="d">Interdum vehicula vitae taciti faucibus autem massa elit fringilla mauris eu purus.</span>
					</div>
				</li>
			</ul>
		</div>
		
		<div class="hide">
			<div class="large bxwide orange btn"><a href="#">Project Calculator</a></div>
		</div>
	</div>
</div>
