<h2>
	Unsere <span>Projekte</span>
</h2>

<div class="separator"></div>

<p>Wir sind stolz darauf viele interessante Projekte mit bekannten und innovativen Unternehmen umgesetzt zu haben.
Überzeugen Sie sich selbst:</p>

<div class="separator"></div>

<ul class="three_up tiles partners">
	<li>
		<a target="_blank" href="http://muume.com/">
			<div class="muume"></div>
			<div class="muume hover"></div>
		</a>
	</li>
	<li>
		<a target="_blank" href="http://germany.eqs.com/">
			<div class="eqs"></div>
			<div class="eqs hover"></div>
		</a>
	</li>
	<li class="last">
		<a target="_blank" href="https://www.masterpayment.com/">
			<div class="masterpayment"></div>
			<div class="masterpayment hover"></div>
		</a>
	</li>
	<li>
		<a target="_blank" href="http://www.meinprospekt.de/">
			<div class="meinprospekt"></div>
			<div class="meinprospekt hover"></div>
		</a>
	</li>
	<li>
		<a target="_blank" href="http://www.rentarentner.com/default.htm">
			<div class="rentarentner"></div>
			<div class="rentarentner hover"></div>
		</a>
	</li>
	<li class="last">
		<a target="_blank" href="http://www.iwant2.com/">
			<div class="wantto"></div>
			<div class="wantto hover"></div>
		</a>
	</li>
	<li class="last-row">
		<a target="_blank" href="http://corporate.vorwerk.de/de/home/">
			<div class="vorwerk"></div>
			<div class="vorwerk hover"></div>
		</a>
	</li>
	<li class="last-row">
		<a target="_blank" href="http://www.handy-ortung.org">
			<div class="handyortung"></div>
			<div class="handyortung hover"></div>
		</a>
	</li>
	<li class="last last-row">
		<a target="_blank" href="http://www.musicmonster.fm">
			<div class="musicmonster"></div>
			<div class="musicmonster hover"></div>
		</a>
	</li>
</ul>