/* 
    Created on : 19.06.2014, 12:56:26
    Author     : igodorogea
*/

.contact-block {
	background-color: $orange;

	.separator {
		height: 3em;
	}

	form {
		max-width: 540px;
		margin: 0 auto;
		position: relative;

		.field {
			margin-bottom: 15px;

			.input.textarea {
				height: 87px;
				resize: vertical;
			}
		}

		.form-overlay {
			background: url("../images/assets/c4ba0df1.loader.gif") no-repeat scroll center center #FFFFFF;
			height: 104%;
			left: -2%;
			@include opacity(0.6);
			position: absolute;
			top: -4%;
			width: 104%;
			border-radius: 4px;
		}
	}
}


@media only screen and (max-width: 767px) {
	.contact-block {
		.tiles.two_up {
			overflow: visible;
			margin-left: 0;
		}
		
		.tiles.two_up > li,
		.tiles.two_up > .tile {
			float: none;
			width: auto;
			margin: 0;

			&.submit-btn {
				margin-top: -50px;
			}
		}

		&, .tvalign, .tcvalign {
			display: block;
			height: auto;
		}

		.tcvalign {
			padding: 3em 0;
		}
	}
}