/* 
    Created on : 19.06.2014, 12:57:09
    Author     : igodorogea
*/


.gmap-block {
	height: 40%;
	
	&.impressum {
		height: 430px;
		margin: 1em 0 0;
	}
		
	#map_container {
		height: 100%;
		background: url("../images/gmap.jpg") no-repeat top center;
	}
}
