/* 
    Created on : 19.06.2014, 13:02:15
    Author     : igodorogea
*/


@mixin parner-logo($w, $h, $x, $y, $hor: false) {
	width: $w;
	height: $h;
	margin-left: 0 - $w/2;
	margin-top: 0 - $h/2;
	@if ($hor == true) {
		background-position: $x -$w  $y;
	}
	@else {
		background-position: $x $y -$h;
	}

	&.hover {
		background-position: $x $y;
	}
}

.projekte-block {
	> .row {
		padding-top: 4em;
		padding-bottom: 4em;
	}

	.separator {
		height: 4em;
	}

	.partners {
		margin-left: 0;

		li {
			border-bottom: 1px solid $lGray;
			border-right: 1px solid $lGray;
			padding-bottom: 10%;
			width: 20%;
			margin-left: 0;
			position: relative;
			float: left;

			&.last {
				border-right: none;
			}

			&.last-row {
				border-bottom: none;
			}

			a {
				position: absolute;
				left: 50%; top: 50%;

				> div {
					position: absolute;
					background-image: url('../images/site-sprite-new5.png');
					width: 0;
					height: 0;
					background-position: 0 0;

					&:first-child {
						z-index: 2;
						@include opacity(0);
					}

					&.porche {
						@include parner-logo(47px, 60px, 0, -130px);
					}

					&.sky {
						@include parner-logo(81px, 51px, -351px, -210px, true);
					}

					&.masterpayment {
						@include parner-logo(142px, 25px, -351px, -160px);
					}

					&.after-buy {
						@include parner-logo(87px, 45px, 0, -250px);
					}

					&.cashless-nation {
						@include parner-logo(95px, 55px, -256px, -160px);
					}

					&.vorwerk {
						@include parner-logo(99px, 40px, -47px, -130px);
					}

					&.iwant2 {
						@include parner-logo(55px, 55px, -146px, -130px, true);
					}

					&.meinprospekt {
						@include parner-logo(132px, 30px, -256px, -130px, true);
					}

					&.pcp {
						@include parner-logo(78px, 45px, -87px, -210px);
					}

					&.googlin {
						@include parner-logo(89px, 48px, -165px, -190px);
					}
				}


				&:hover > div:first-child {
					@include opacity(1);
				} 
			}
		}
	}
}

.no-touch .projekte-block .partners li a > div:first-child {
	@include transition(opacity 0.15s ease-in-out 0s);
}


@media only screen and (max-height: 760px), only screen and (max-width: 767px) {
	.projekte-block {
		> .row {
			padding-top: 3em;
			padding-bottom: 3em;
		}

		.separator {
			height: 3em;
		}
	}
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
	.projekte-block .partners {
		li {
			width: 25%;
			padding-bottom: 12%;

			&.last {
				border-right: 1px solid $lGray;
			}

			&.last-row {
				border-bottom: 1px solid $lGray;
			}

			&:nth-child(4n) {
				border-right: none !important;
			}

			&:nth-child(9n),
				&:nth-child(10n) {
				border-bottom: none;
			}

			&:nth-child(9n) {
				margin-left: 25%;

				&:before {
					content: "";
					position: absolute;
					left: -1px;
					top: 0;
					width: 1px;
					height: 100%;
					border-left: 1px solid $lGray;
				}
			}
		}
	}
}


@media only screen and (min-width: 480px) and (max-width: 639px) {
	.projekte-block .partners {
		li {
			width: 33.33%;
			padding-bottom: 15%;

			&.last {
				border-right: 1px solid $lGray;
			}

			&.last-row {
				border-bottom: 1px solid $lGray;
			}

			&:nth-child(3n) {
				border-right: none !important;
			}

			&:nth-child(10n) {
				margin-left: 33.33%;
				border-bottom: none;

				&:before {
					content: "";
					position: absolute;
					left: -1px;
					top: 0;
					width: 1px;
					height: 100%;
					border-left: 1px solid $lGray;
				}
			}
		}
	}
}

@media only screen and (max-width: 479px) {
	.projekte-block {
		> .row {
			padding-top: 2em;
			padding-bottom: 2em;
		}

		.separator {
			height: 2em;
		}
	}


	.projekte-block .partners {
		li {
			width: 50%;
			padding-bottom: 25%;

			&.last {
				border-right: 1px solid $lGray;
			}

			&.last-row {
				border-bottom: 1px solid $lGray;
			}

			&:nth-child(2n) {
				border-right: none !important;
			}

			&:nth-child(9n),
				&:nth-child(10n) {
				border-bottom: none;
			}
		}
	}
}
