<div class="top-menu foot-page"
	 data-ng-class="{active: BrowserSize.width < 768}"
	 gumby-fixed="top"
	 gumby-offset="-100"
	 data-ng-include="'/views/partials/top_menu.html'"
	 onload="loadTopMenu('Datenschutzbestimmungen')"></div>

<div class="row">
	<h2>{{l10n.datenschutz.title[lang]}}</h2>


	<h4>{{l10n.datenschutz.title2[lang]}}</h4>
	<p data-ng-bind-html="l10n.datenschutz.content[lang]"></p>
	
	<p data-ng-bind-html="l10n.datenschutz.content1[lang]"></p>
	<p data-ng-bind-html="l10n.datenschutz.content2[lang]"></p>
	<p data-ng-bind-html="l10n.datenschutz.content3[lang]"></p>
	<p data-ng-bind-html="l10n.datenschutz.content4[lang]"></p>
	<p data-ng-bind-html="l10n.datenschutz.content5[lang]"></p>
	<p data-ng-bind-html="l10n.datenschutz.content6[lang]"></p>
	<p data-ng-bind-html="l10n.datenschutz.content7[lang]"></p>
</div>