<div class="intro" ng-include="'views/partials/home/intro.html'"></div>

<div ng-include="'views/partials/top_menu.html'"></div>

<div ng-include="'views/partials/home/skils.html'"></div>

<div ng-include="'views/partials/home/flow.html'"></div>

<div ng-include="'views/partials/home/works.html'"></div>

<div ng-include="'views/partials/home/quotes.html'"></div>

<div ng-include="'views/partials/home/about.html'"></div>

<div ng-include="'views/partials/home/contact.html'"></div>

<div id="footer" ng-include="'views/partials/footer.html'"></div>