<div class="top-menu"
	 data-ng-class="{active: block !== 'intro' || BrowserSize.width < 768}"
	 data-ng-include="'views/partials/top_menu.html'"
	 onload="loadTopMenu()"></div>

<div class="intro-block"
	 data-wnf-scroll-pos="{{offsetTop}}"
	 data-ng-class="{active: block === 'intro', fixed: block !== 'intro'}">
	<div class="fullscreenbanner-container"
		 data-ng-include="'views/home/intro.html'"
		 data-replace-ng-include=""
		 onload="initIntroSlider()"></div>
</div>

<div class="skills-block"
	 data-wnf-scroll-pos="{{offsetTop}}">
	<div class="text-center"
		 data-replace-ng-include=""
		 data-ng-include="'views/home/skills.html'"></div>
</div>

<div class="flow-block"
	 data-ng-if="BrowserSize.width >= 768">
	<div class="tvalign row">
		<div class="tcvalign text-center"
			 data-replace-ng-include=""
			 data-ng-include="'views/home/flow.html'"
			 onload=""></div>
	</div>
</div>

<!--<div class="works-block" data-wnf-scroll-pos="{{offsetTop}}">
	<div class="fullscreenbanner-container"
		 data-ng-include="'views/home/works.html'"
		 onload="initWorksSlider()"></div>
</div>-->

<div class="about-block" data-wnf-scroll-pos="{{offsetTop}}">
	<div class="tvalign row">
		<div class="tcvalign text-center"
			 data-replace-ng-include=""
			 data-ng-include="'views/home/about.html'"
			 onload=""></div>
	</div>
</div>

<div class="quotes-block">
	<div class="tvalign row">
		<div class="tcvalign text-center"
			 data-replace-ng-include=""
			 data-ng-include="'views/home/quotes.html'"
			 onload=""></div>
	</div>
</div>

<div class="projekte-block" data-wnf-scroll-pos="{{offsetTop}}">
	<div class="tvalign row">
		<div class="tcvalign text-center"
			 data-replace-ng-include=""
			 data-ng-include="'views/home/projekte.html'"
			 onload=""></div>
	</div>
</div>

<div class="contact-block" data-wnf-scroll-pos="{{offsetTop}}">
	<div class="tvalign row">
		<div class="tcvalign text-center"
			 data-replace-ng-include=""
			 data-ng-include="'views/home/contact.html'"
			 onload=""></div>
	</div>
</div>

<div class="gmap-block"
	 data-ng-if="BrowserSize.width >= 768"
	 data-ng-include="'views/partials/gmap.html'"></div>

<div id="footer"
	 class="footer"
	 data-ng-include="'views/partials/footer.html'"
	 onload=""></div>
